* {
   margin: 0%;
   padding: 0%;
   box-sizing: border-box; 
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

a {
    text-decoration: none;
    font-style: normal;
}

:root {
    --bitcoin-range: #F7931A;
    --soft-orange: #FFE9D4;
    --warm-black: #201E1C;
    --black: #282623;
    --main-grey: #757575;
    --off-white: #B5B0AC;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
}